*{
    font-family: 'Pacifico', cursive;
}

.cake{
    width: 100px;
}

img{
    width: 100%;
    object-fit: contain;
}

section {
    padding: 100px 0;
}

.navbar{
    z-index: 10;
}

video{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.video {
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    height: 100%;
    opacity: .8;
    z-index: -1;
}

.main-sec{
    /* background: linear-gradient(90deg, rgba(229,227,252,1) 0%, rgba(216,216,252,1) 35%, rgba(177,233,245,1) 100%);    */
    height: 100vh;
    position: relative;
}

@media(max-width:767px){
    .main-sec{
        height: auto;
    }
}